name: Create S3 bucket and Upload the web files to it

on:
  push:
    branches:
    - master

jobs:

  crawl-website:
    name: Crawl the web site
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: wget the website
      run: httrack --footer "" https://adappt.co.uk/

  upload:
  
    name: Upload files to s3
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy static site to S3 bucket
      run: |
        aws s3 mb s3://${{ secrets.AWS_S3BUCKET_NAME }}
        aws s3 sync ansible/adappt.co.uk s3://${{ secrets.AWS_S3BUCKET_NAME }} --delete
